:root {
--path: path("M 75 75 C 11 13 139 -87 231 11 C 294 88 215 233 -26 170 C -175 123 -212 53 -196 -17 C -175 -99 -17 -140 196 -135 C 263 -132 583 -142 584 55 C 581 310 309 284 62 284 C -22 281 -439 291 -448 23 V -502");
}

body{
background-image: url('/background.png');
}

#box{
width: 150px;
height: 150px;
position: absolute;
offset-path: var(--path);
offset-rotate: reverse;
}

.container{
height: 97vh;
width: 100%;
display:flex;
justify-content:center;
align-items:center;
}