
:root {
--path: path("M 75 75 C 11 13 139 -87 231 11 C 294 88 215 233 -26 170 C -175 123 -212 53 -196 -17 C -175 -99 -17 -140 196 -135 C 263 -132 583 -142 584 55 C 581 310 309 284 62 284 C -22 281 -439 291 -448 23 V -502");
}

.qrcode {
  height: 40px;
  width: 100px;
  background-color: black;
  border-radius: 20px 5px;
  position: absolute;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
}

.scene {
  height: 97vh;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  perspective: 700px;
}

.box {
  width: 150px;
  height: 150px;
  position: absolute;
  transform-style: preserve-3d;
  offset-path: var(--path);
  offset-rotate: reverse;
}

.animate {
  animation: anim 22s linear;
}

@keyframes anim {
    0% {
        transform: translateZ(-10000px) rotateX(  0deg) rotateY(  0deg);
    }
    9% {
        transform: translateZ(-75px) rotateX(360deg) rotateY(720deg);
    }
    10% {
        transform: rotateX(  0deg) rotateY(  0deg);
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
        transform: rotateX(360deg) rotateY(720deg);
    }
}

.box__face {
  position: absolute;
  background: white;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  opacity: 0.7;
}

.text {
font-size: 25px;
  font-weight: bold;
  color: black;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__face--front  {
transform: rotateY(  0deg) translateZ(75px);
}

.box__face--back   {
transform: rotateY(180deg) translateZ(75px);
}

.box__face--right  {
transform: rotateY( 90deg) translateZ(75px);
}

.box__face--left   {
transform: rotateY(-90deg) translateZ(75px);
}

.box__face--top    {
transform: rotateX( 90deg) translateZ(75px);
}

.box__face--bottom {
transform: rotateX(-90deg) translateZ(75px);
}
