<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imaginator</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="scene">
  <div class="box animate" id="firstBox">
    <div class="box__face box__face--front text">
        AA21-22, Bachelor <br>
        Ing. Info. <br>
        Prof. Lorenzo Sommaruga
    </div>
    <div class="box__face box__face--back text">
        Lavoro di semestre di Natalia Andaloro e Denis Beqiraj
    </div>
    <div class="box__face box__face--right">
         <img src="../static/image_logos/supsi_bianca.jfif" width="150px" height="150px">
    </div>
    <div class="box__face box__face--left">
        <img src="../static/image_logos/StartUpGarage.png" width="150px" height="150px">
    </div>
    <div class="box__face box__face--top">
        <img src="../static/image_logos/logo.png" width="150px" height="150px">
    </div>
    <div class="box__face box__face--bottom">
        <img src="../static/image_logos/logo.png" width="150px" height="150px">
    </div>
  </div>
    <div class="end"></div>
</div>
<style>
    body{
        background-image: url({{ background_value }});
    }
</style>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.1/web-animations-next.min.js"></script>
<script src="static/javascript/main.js"></script>
<script src="static/javascript/movement.js"></script>
</html>