<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
<div class="scene">
  <div class="box" id="box">
    <div id="word" class="box__face box__face--front">
        AA21-22, Bachelor <br>
        Ing. Info. <br>
        Prof. Lorenzo Sommaruga
    </div>
    <div id="back" class="box__face box__face--back">
        <img id="img2" src="" width="150px" height="150px">
    </div>
    <div class="box__face box__face--right">
         <img id="img3" src="../static/supsi_bianca.jfif" width="150px" height="150px">
    </div>
    <div class="box__face box__face--left">
        <img id="img4" src="../static/StartUpGarage.png" width="150px" height="150px">
    </div>
    <div class="box__face box__face--top">
        <img id="img1" src="../static/logo.png" width="150px" height="150px">
    </div>
    <div class="box__face box__face--bottom">
        <img id="img5" src="../static/logo.png" width="150px" height="150px">
    </div>
  </div>
</div>
<div class="end"></div>
<style>
    body{
        background-image: url({{ background_value }});
    }
</style>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.1/web-animations-next.min.js"></script>
<script src="static/main.js"></script>
<script src="static/movement.js"></script>
</html>